target/
!.mvn/wrapper/maven-wrapper.jar
log/
*.log

**/.classpath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

*.class

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/
*.iml
*.iws

.vscode/

.DS_Store
